<!doctype html>
<html lang="en-US">

  {% set mantra = "Real-time UI for bots." %}
  {% set sponsor = "https://github.com/sponsors/rillrate" %}


  <head>
      {% include "head.html" %}
      {% block head %}{% endblock %}
  </head>

  {% if page is defined -%}
    {% set class = "docs single" -%}
  {% elif section is defined -%}
    {% set class = "home" -%}
  {% endif -%}

  <body class="{{ class }}" style="min-width: 1240px;">

  {% block header %}{% include "header.html" %}{% endblock %}

  {% block main %}{{ section.content }}{% endblock %}

  {% block footer %}{% include "footer.html" %}{% endblock %}

  <!--
  <script src="/main.js" defer></script>
  <script src="/index.js" defer></script>
  -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-203862968-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-203862968-1');
  </script>

  </body>
</html>
