<!doctype html>
<html lang="en-US">

  {% set mantra = "UI for microservices, bots and IoT devices." %}

  {% block head %}{% include "head.html" %}{% endblock %}

  {% if page is defined -%}
    {% set class = "docs single" -%}
  {% elif section is defined -%}
    {% set class = "home" -%}
  {% endif -%}

  <body class="{{ class }}" style="min-width: 1240px;">

  {% block header %}{% include "header.html" %}{% endblock %}

  {% block main %}{{ section.content }}{% endblock %}

  {% block footer %}{% include "footer.html" %}{% endblock %}

  <!--
  <script src="/main.js" defer></script>
  <script src="/index.js" defer></script>
  -->

  </body>
</html>
