<div class="container-fluid py-3 bg-secondary">
    <div class="container text-muted">
        <footer class="d-flex flex-row justify-content-between">
            <div>© 2021 RillRate OÜ</div>
            <!--<small>{{ mantra }}</small>-->
            <div class="d-flex flex-row justify-content-between">
                <a class="link link-dark me-3" href="/legal/terms">Terms</a>
                <a class="link link-dark" href="/legal/privacy">Privacy</a>
            </div>
        </footer>
    </div>
</div>
