<footer class="footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-last order-lg-first">
                <ul class="list-inline">
                    <li class="list-inline-item">© 2021 RillRate OÜ</li>
                </ul>
            </div>
            <div class="col-lg-8 order-first order-lg-last text-lg-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="/legal/privacy">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/legal/terms">Terms</a>
                    </li>
                    <!--
                    <li class="list-inline-item">
                        <a href="https://getdoks.org/docs/contributing/code-of-conduct/">Code of Conduct</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/h-enk/doks/discussions">Community</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</footer>
