<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preload" as="font" href="/fonts/vendor/jost/jost-v4-latin-regular.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="/fonts/vendor/jost/jost-v4-latin-700.woff2" type="font/woff2" crossorigin>
<link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="/app.css">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<title>RillRate - {{ mantra }}</title>
<meta name="description" content="{{ mantra }}">

<link rel="canonical" href="/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="/doks.png">
<meta name="twitter:title" content="RillRate">
<meta name="twitter:description" content="{{ mantra }}">

<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">

<meta property="og:title" content="RillRate">
<meta property="og:description" content="{{ mantra }}">
<meta property="og:type" content="website">
<meta property="og:url" content="/">

<meta property="og:image" content="/doks.png"/>
<meta property="og:updated_time" content="2020-10-06T08:47:36+00:00">
<meta property="og:site_name" content="RillRate">

<meta property="article:publisher" content="https://www.facebook.com/">
<meta property="article:author" content="https://www.facebook.com/">
<meta property="og:locale" content="en_US">

<link rel="alternate" type="application/rss&#43;xml" href="/index.xml">
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "\/\/rillrate.com\/",
      "name": "RillRate",
      "logo": "\/\/rillrate.com\/logo.png",
      "sameAs": [
        "",
        "",
        "https:\/\/github.com\/rillrate"
      ]
    }
</script>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
            "@type": "ListItem",
            "position":  1 ,
            "name": "Home",
            "item": "\/\/rillrate.com\/"
        }]
    }
</script>
<script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="rillrate"></script>

<meta name="theme-color" content="#fff">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
