{% extends "base.html" %}

{% block main %}
<div class="wrap container" role="document">
    <div class="content">

        <section class="section container-fluid mt-n3 pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-0">RillRate</h1>
                </div>
                <div class="col-lg-9 col-xl-8 text-center">
                    <p class="lead">Dynamic tracing system that tends to be real-time.</p>
                    <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/basics/intro/" role="button">Get started</a>
                    <p class="meta">Open-source MIT Licensed. <a href="https://github.com/rillrate/rillrate">GitHub v0.1.5</a></p>
                </div>
            </div>
        </section>

    </div>
</div>

<section class="section section-sm">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Low-latency</h2>
                <p>We use state of the art technologies to bring you a surprisingly fast system for monitoring your apps in real-time.</p>

            </div>
            <div class="col-lg-5">
                <h2 class="h4">Zero-configuration</h2>
                <p>Your app will be automatically configured to provide only requested streams of metrics. Just point it to the server.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Live Dashboard</h2>
                <p>The library provides an embedded dashboard that can be used instantly as soon as you started your application.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Multiple Languages</h2>
                <p>We offer the library for many popular programming languages like: <a href="https://crates.io/crates/rillrate">Rust</a>, <a href="https://pypi.org/project/rillrate/">Python</a>, <a href="https://www.npmjs.com/package/@rillrate/rillrate">Node.js</a>. And many other languages will be supported soon.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Exporters</h2>
                <p>Easily transform your metrics into <a href="">Prometheus</a> or <a href="">Graphite</a> formats. Focus on metrics in your app, but not on exporting formats.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Teleport Agent</h2>
                <p>Get metrics and logs from existing apps with the simplicity of a single command line. Or connect it to Databases, Containers or other middleware.</p>
            </div>
        </div>
    </div>
</section>

<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9"></div>
    </div>
</section>
{% endblock %}
