{% extends "base.html" %}

{% block main %}

<div id="home" />

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <p class="mt-3">
            <b>RillRate</b>
        </p>
        <p class="mt-1 mb-4" style="max-width: 600px;">
            Real-time monitoring and controlling platform that configured <i>fully automatically</i>.
        </p>
        <img style="max-width: 70%;" src="/images/apps-net.svg" />
        <img style="max-width: 20%;" src="/images/dashboard.png" />
    </div>
</div>


<div class="container-fluid py-5 bg-light">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <p style="max-width: 650px;">
        RillRate <b>reduces the costs</b> of configuring and maintaining a monitoring system <b>up to 20x times</b>.
        </p>
    </div>
</div>

<div id="cases" />

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <h4>Use cases:</h4>
        <!--<p><small>(click the case to learn more)</small></p>-->
        <div class="mt-3 d-flex flex-row flex-wrap justify-content-around fw-bold" style="max-width: 900px;">
            <!--<div class="px-5 py-4"><a class="link-dark" href="/trading">Trading</a></div>-->
            <div class="px-5 py-4">Trading</div>
            <div class="px-5 py-4">Chat Bots</div>
            <div class="px-5 py-4">Live BI</div>
            <div class="px-5 py-4">Testing</div>
            <div class="px-5 py-4">Research &amp; AI</div>
            <div class="px-5 py-4">Distributed Apps</div>
            <div class="px-5 py-4">Monitoring</div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <!--<img class="mb-3" style="max-width: 200px;" src="/images/home/book-dui.png" />-->
        <!--<p class="fs-5">Learn how to monitor your company effectively <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8PlN1IHmtuPb9R1MMgquSKHS_uUMVKBKhlcv_Flua-yytgQ/viewform?usp=sf_link">here</a>.</p>-->
        <p class="">The sources available on the <a class="link link-primary" href="https://github.com/rillrate/rillrate">GitHub</a>.</p>
    </div>
</div>


<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <!--<p class="pt-5" style="max-width: 600px;">Fill the <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8PlN1IHmtuPb9R1MMgquSKHS_uUMVKBKhlcv_Flua-yytgQ/viewform?usp=sf_link">form</a> to learn more or to be notified when we release a solution for your case.</p>-->
        <p class="pt-5">Find out more from us: <a class="link link-primary" href="mailto:support@rillrate.com">support@rillrate.com</a></p>
    </div>
</div>


{% endblock %}
