{% extends "base.html" %}

{% block main %}
<div id="home" class="wrap container" role="document">
    <div class="content">

        <section class="section container-fluid mt-n3 pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h2 class="my-1">RillRate</h2>
                </div>
                <div class="col-lg-9 col-xl-8 text-center d-flex flex-column align-items-center">
                    <p class="fs-3 fst-normal mt-2">Multi-tool for Developers.</p>
                    <img src="/images/dashboard.png" style="width: 500px; max-width: 100%;" />
                    <!--<p class="lead">Dynamic tracing system that tends to be real-time.</p>-->
                    <!--
                    <div class="iframe-wrap mt-5">
                        <div id="iframe-turn" class="iframe-turn d-flex flex-column align-items-center">
                            <p class="text-white small fst-italic">Try the <b>real</b> dashboard demo in action!</p>
                            <script>
                                function turn_demo_on() {
                                    var turn = document.getElementById("iframe-turn");
                                    turn.style.visibility = "hidden";

                                    var frame = document.getElementById("iframe-frame");
                                    frame.style.visibility = "visible";
                                    frame.setAttribute("src", "https://demo.rillrate.com/ui/");
                                }
                            </script>
                            <button class="iframe-btn btn" onclick="turn_demo_on()">Turn It On</button>
                        </div>
                        <iframe id="iframe-frame" class="iframe-frame"></iframe>
                    </div>
                    -->

                    <a class="btn btn-primary btn-lg px-4 my-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="rillrate-vision-nomad-plan-usd-monthly" data-cb-item-0-quantity="1" >Start for free</a>
                </div>
            </div>
        </section>

    </div>
</div>

<section id="features" class="section bg-light">
    <div class="container">
        <h2 class="border-bottom text-muted text-center">Features</h2>
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Low-latency</h2>
                <p>We use state-of-the-art technologies to bring you a surprisingly fast system for monitoring your microservices in real-time.</p>

            </div>
            <div class="col-lg-5">
                <h2 class="h4">Zero-configuration</h2>
                <p>Use the agent or integrate the data provider into a microservice to get necessary data automatically without a complex configuring process.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Live controls</h2>
                <p>You can use live controls to tweak the parameter of your microservice on the fly directly from the dashboard with real-time feedback.</p>
            </div>
        </div>
        <!--
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Powerful dashboard</h2>
                <p>On the dashboard you can render tables, charts, counters, histograms and more. All that items will be adjusted for the perfect view.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Real-time charts</h2>
                <p>Charts reflect actual state of your apps and never stucked even if data was accidentally delayed.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Multiple platforms</h2>
                <p>We offer the library for many popular programming languages like: <a href="https://crates.io/crates/rillrate">Rust</a>, <a href="https://pypi.org/project/rillrate/">Python</a>, <a href="https://www.npmjs.com/package/@rillrate/rillrate">Node.js</a>. And other languages will be supported soon.</p>
            </div>
        </div>
        -->
        <div>
            <!--
            <div class="col-lg-5">
                <h2 class="h4">Live Dashboard</h2>
                <p>The library provides an embedded dashboard that can be used instantly as soon as you started your application.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Exporters</h2>
                <p>Easily transform your metrics into <a href="">Prometheus</a> or <a href="">Graphite</a> formats. Focus on metrics in your app, but not on exporting formats.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Teleport Agent</h2>
                <p>Get metrics and logs from existing apps with the simplicity of a single command line. Or connect it to Databases, Containers or other middleware.</p>
            </div>
            -->
        </div>
    </div>
</section>

<section id="pricing" class="section">
    <div class="container">
        <h2 class="border-bottom text-muted text-center">Pricing</h2>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Nomad</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Free</h2>
                        <!--<p class="fs-5 fw-bold text-muted">Personal or Hobby</p>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 server</li>
                            <li>1 connection</li>
                            <li>2 sources</li>
                            <hr>
                            <li>Single user</li>
                            <li>Free access</li>
                        </ul>
                        <a class="w-100 btn btn-lg btn-outline-primary" href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="rillrate-vision-nomad-plan-usd-monthly" data-cb-item-0-quantity="1" >Get Free</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Developer</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">$12<small class="text-muted fw-light">/month</small></h2>
                        <!--<p class="fs-5 fw-bold text-muted">Developer or Researcher</p>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 server</li>
                            <li>2 connections<span class="text-muted"></span></li>
                            <li>Unlimited sources</li>
                            <hr>
                            <li>Single user</li>
                            <li>Free access</li>
                        </ul>
                        <a class="w-100 btn btn-lg btn-primary" href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="rillrate-vision-developer-plan-usd-monthly" data-cb-item-0-quantity="1" >Buy</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Operator<span class="text-muted"></span></h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">Custom</h2>
                        <!--<h2 class="card-title pricing-card-title">$56<small class="text-muted fw-light">/month</small></h2>-->
                        <!--<p class="fs-5 fw-bold text-muted">Team or Organization</p>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unlimited servers</li>
                            <li>Unlimited connections</li>
                            <li>Unlimited sources</li>
                            <hr>
                            <li>Multiple users</li>
                            <li>Role-based protected access</li>
                        </ul>
                        <a href="mailto:support@rillrate.com" class="w-100 btn btn-lg btn-outline-primary">Contact us</a>
                        <!--<a class="w-100 btn btn-lg btn-outline-primary" href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="rillrate-vision-ultimate-plan-usd-monthly" data-cb-item-0-quantity="5" >Buy</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="section bg-light">
    <div class="container">
        <h2 class="border-bottom text-muted text-center">Easy to start</h2>
        <div class="row justify-content-center">
            <article class="text-start">
                <p>To start the <b>RillRate Server</b> you can use ready-to-use <b>Docker</b> container:</p>
                <pre>$ docker run -d -p 1636:1636 -p 6361:6361 --restart always --name rillrate rillrate/vision:latest</pre>
                <p>When it started open the following link in your browser
                <a href="http://localhost:6361/" target="_blank">localhost:6361</a>
                to get access to the dashboard.</p>
            </article>
        </div>
    </div>
</section>

<section id="features" class="section">
    <div class="container">
        <h2 class="border-bottom text-muted text-center">Contact us</h2>
        <div class="row justify-content-center">
            <article class="text-start">
                <p>Any questions remained? Feel free to contact us <a href="mailto:support@rillrate.com">here</a>.</p>
            </article>
        </div>
    </div>
</section>

{% endblock %}
