{% extends "base.html" %}

{% block main %}

<div id="home" />

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <h4 class="my-3">What is RillRate?</h4>
        <p class="mb-4">{{ mantra }}</p>
        <img class="mb-5" style="max-width: 100%;" src="/images/home/bot-plus-rillrate.svg" />
        <p class="" style="max-width: 800px;">Add the <b>real-time</b> user-interface to your bots in <b>5 minutes</b>.</p>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <p style="max-width: 900px;"><b>RillRate</b> helps to <b>reduces the cost</b> of developing and maintaining a user interface for internal services <b>up to 20x times</b>.</p>
    </div>
</div>

<!--
<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5">
        <h4>What are internal services?</h4>
        <p>Your company or product are set of distributed components.</p>
        <img class="my-3" style="max-width: 100%;" src="/images/home/apps.svg" />
        <p><i>Monitor, configure and control them all in <b>real-time</b>.</i></p>
    </div>
</div>
-->

<div id="cases" />

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <h4>Use cases:</h4>
        <!--<p><small>(click the case to learn more)</small></p>-->
        <div class="mt-3 d-flex flex-row flex-wrap justify-content-around fw-bold" style="max-width: 900px;">
            <!--<div class="px-5 py-4"><a class="link-dark" href="/trading">Trading</a></div>-->
            <div class="px-5 py-4">Trading</div>
            <div class="px-5 py-4">Chat Bots</div>
            <div class="px-5 py-4">Live BI</div>
            <div class="px-5 py-4">Testing</div>
            <div class="px-5 py-4">Research &amp; AI</div>
            <div class="px-5 py-4">Distributed Apps</div>
            <div class="px-5 py-4">Monitoring</div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <!--<img class="mb-3" style="max-width: 200px;" src="/images/home/book-dui.png" />-->
        <p class="fs-4">Learn how to boost your company and app <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8PlN1IHmtuPb9R1MMgquSKHS_uUMVKBKhlcv_Flua-yytgQ/viewform?usp=sf_link">here</a>.</p>
    </div>
</div>


<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5 d-flex flex-column align-items-center">
        <!--<p class="pt-5" style="max-width: 600px;">Fill the <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8PlN1IHmtuPb9R1MMgquSKHS_uUMVKBKhlcv_Flua-yytgQ/viewform?usp=sf_link">form</a> to learn more or to be notified when we release a solution for your case.</p>-->
        <p class="pt-5">Find out more from us: <a class="link link-primary" href="mailto:support@rillrate.com">support@rillrate.com</a></p>
        <p class="pb-5">The source code you can get from the <a class="link link-primary" href="https://github.com/rillrate/rillrate">GitHub</a>.</p>
    </div>
</div>

{% endblock %}
