{% extends "base.html" %}

{% block main %}

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5">
        <div class="row">
            <div class="col-6">
                <img class="my-3" style="max-width: 100%;" src="/images/trading/book-trading.png" />
            </div>
            <div class="col-6 pt-5">
                <p class="fw-bold fst-italic">Do you want to learn how to create your own real trading bot?</p>
                <p>New markets and exchanges.</p>
                <p>Real-time web dashboard.</p>
                <p>Full-featured bot from scratch.</p>
                <p>Download the book for <b>free</b>!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
