{% extends "base.html" %}

{% block main %}

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img class="my-3" style="max-width: 80%;" src="/images/trading/book-trading.png" />
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                <p class="mb-5 fw-bold fst-italic" style="max-width: 400px;">
                    Real-time Monitoring of Trading Bots
                </p>
                <p class="mb-4">
                    How to monitor trading bots effectively?
                </p>
                <p class="mb-4">
                    How to control 1’000 trading bots?
                </p>
                <p class="mb-4">
                    How to work with distributed bots?
                </p>
                <p class="mb-4">
                    How to reduce development costs?
                </p>
                <p class="mb-4">
                    How to release bots faster?
                </p>
                <a class="mt-5 btn btn-primary w-50" href="https://docs.google.com/forms/d/e/1FAIpQLSdjXH33cUN0JMV_pexGB-nC-IHu-jExWFCSmBdK8jCoJxWkow/viewform?usp=sf_link">Get It!</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="container text-center fs-4 d-flex flex-column align-items-center">
        <p>Enhance your company or career.</p>
    </div>
</div>

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5">
        <img style="max-width: 80%;" src="/images/trading/live-demo.png" />
    </div>
</div>

<div class="container-fluid py-5 bg-white">
    <div class="container text-center fs-5">
        <p><b>RillRate</b> is a real-time UI for trading bots.</p>
        <p>Learn more <a href="/">here</a>.</p>
    </div>
</div>

{% endblock %}
